@use "./palette" as p;
/**
* global/_palette.scss参照
* 参考記事：https://qiita.com/1natsu172/items/ef6b0fcba6bbe380df1e
*/

$color-globalHeader-background: p.$palette-pink;
$color-globalFooter-background: p.$palette-green;
$color-block-background: p.$palette-blue;
$color-parallaxView-background: p.$palette-transparent;
