/*=======================
全体共通
====================== */
 body {
    font-size: 16px;
 }

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

section {
    padding-top: 70px; //適宜指定
    padding-bottom: 30px; //適宜指定

    // 768px以上
    @include mq("md") {
        padding-top: 90px; //適宜指定
        padding-bottom: 50px; //適宜指定
    }

    // 1024px以上
    @include mq("lg") {
        padding-top: 100px; //適宜指定
        padding-bottom: 120px; //適宜指定
    
    }
}

